@page
@model Proiect.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].PersonalNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].School)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Parents)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
            int ParentsCount = (item.Parents?.Count ?? 0) + 1;

            <tr>
                    <td rowspan="@ParentsCount">
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td rowspan="@ParentsCount">
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td rowspan="@ParentsCount">
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td rowspan="@ParentsCount">
                        @Html.DisplayFor(modelItem => item.PersonalNumber)
                    </td>
                    <td rowspan="@ParentsCount">
                        @Html.DisplayFor(modelItem => item.School.Name)
                    </td>
                    <td></td>
                    <td rowspan="@ParentsCount">
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
            </tr>
            @foreach (var parent in item.Parents) {
                
                <tr>
                    <td>
                        <a href="/Parents/Details?id=@Html.DisplayFor(modelItem => parent.ID)">
                            @Html.DisplayFor(modelItem => parent.FirstName) @Html.DisplayFor(modelItem => parent.LastName)
                        </a>
                    </td>
                </tr>
            }
}
    </tbody>
</table>
